<h1>Hola Mundo</h1>

<br>
<br>


<div id="carrusel">
    <a href="#" class="izquierda_flecha"><img src="images/flecha_01.png" /></a>
    <a href="#" class="derecha_flecha"><img src="images/flecha_02.png" /></a>
    <div class="carrusel">
        <div class="product" id="product_0">
            <img class="img_carrusel" src="gallery/01.jpg" width="195px" height="100px" />
        </div>
        <div class="product" id="product_1">
             <img class="img_carrusel" src="gallery/02.jpg" width="195px" height="100px" />
        </div>
        <div class="product" id="product_2">
            <img class="img_carrusel" src="gallery/03.jpg" width="195px" height="100px" />
        </div>
        <div class="product" id="product_3">
            <img class="img_carrusel" src="gallery/01.jpg" width="195px" height="100px" />
        </div>
        <div class="product" id="product_4">
            <img class="img_carrusel" src="gallery/02.jpg" width="195px" height="100px" />
        </div>
        <div class="product" id="product_5">
            <img class="img_carrusel" src="gallery/03.jpg" width="195px" height="100px" />
        </div>
    </div>
</div>
