<div class="container img">

  <h1>Ping Pong Match</h1>

  <p>
    Lorem ipsum
  </p>

  <div class="">
    <%=link_to "Nueva Partida", games_new_match_path, method: "get"%>
  </div>

  <div class="">
    <%=link_to "Ranking", games_show_ranking_path, method: "get"%>
  </div>

  <div class="">
    <%=link_to "Retar", games_new_challenge_path, method: "get"%>
  </div>

  <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>

</div>
