<div class="col-md-8 col-xs-12 col-md-offset-2">
	<div class="col-md-4">
		<h4>Jugador</h4>
		<p>
		<%= @player.email %>
		</p>
    <%= number_field_tag :score_player%>
	</div>
	<div class="col-md-4">
		<h3>VS</h3>
	</div>
	<div class="col-md-4">
		<h4>Oponentes</h4>
    <% Game.where(:opponent_id => @match.opponent_id) do |o| %>
      <p>
        <%= o.nick_name%>
      </p>
    <% end %>
	</div>
</div>
