<p>
  Mostrar Ganador
</p>
<h3>
  <%=@winner.email%>
</h3>

<button type="button" name="button">
  <a href="/games/home">Nueva Partida</a>
</button>
<button type="button" name="button">
  <a href="/games/show_ranking">Ranking</a>
</button>
