<div class="text-center">

<h1>Ranking</h1>

<h2>El rey de la cancha es!!!!</h2>
<h3><%=@players[0].nick_name%></h3>
<p>con <%=@players[0].score%> puntos</p>
  <div class="col-sm-6 col-sm-offset-3">
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th>
            Jugador
          </th>
          <th>
            Puntaje
          </th>
        </tr>
      </thead>
      <tbody>
      <%@players.each do |p|%>
        <%if p != @players[0]%>
          <tr>
            <td>
              <%=p.nick_name%>
            </td>
            <td>
              <%=p.score%>
            </td>
          </tr>
        <%end%>
      <%end%>
      </tbody>
    </table>
  </div>
</div>
<br>
<br>
  <div class="col-xs-12 text-center">
    <button type="button" name="button" class="btn btn-success">
      <a href="/games/new_match">Nueva Partida</a>
    </button>
  </div>

